<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flyfisher</title>
</head>

<body>
    <!-- {{{ body }}} -->
    <div class="row">
        <div class="col s12">
            <h1>Trip Creator</h1>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="col s12">
            <h5>Trip Details</h5>
        </div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <form class="col s12">
            <!-- <form class="create-form" action="/" method="POST"> -->
            <div class="row">
                <div class="input-field col s6">
<!--                 <div class="form-group"> -->
                    <input id="trip_name" type="text" class="validate">
                    <label for="trip_name">Name</label>
<!--                     </div> -->
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="location" type="text" class="validate">
                    <label for="location">Location</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="date" type="text" class="validate">
                    <label for="date">Date</label>
                </div>
            </div>


            <div class="divider"></div>
            <div class="row">
                <div class="col s12">
                    <h5>Fish Data</h5>
                </div>
            </div>
            <div class="divider"></div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="fish-name" type="text" class="validate">
                    <label for="fish-name">Fish Name</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <input id="notes" type="text" class="validate">
                    <label for="notes">Notes</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s6">
                    <input id="bait" type="text" class="validate">
                    <label for="bait">Bait</label>
                </div>
            </div>

            <!--       </form> -->
        </form>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>