<div class="center-align">
<div class="row">
<h1>Trip Creator</h1>
</div>
<div class="divider"></div>
<div class="row">
<span><button class="waves-effect waves-light btn index"><a href="/">Home</a></button></span>
<span><button class="waves-effect waves-light btn trips"><a href="/trips">Trips</a></button></span>
</div>
</div>
<div class="center-align">
<div class="divider"></div>
<div class="row">
    <div class="col s12">
        <h5>Trip Details</h5>
    </div>
</div>
</div>

<div class="divider"></div>


<div class="row">
    <div class="valign-wrapper">
        <div class="center-align">
            <form class="col s12 create-form" action="/trips" method="POST">
                <div class="row">
                    <div class="input-field col s12 form-group">
                        <input class="auth" type="text" class="validate" name="trip_name">
                        <label for="auth">Trip Description</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 form-group">
                        <input class="auth" type="text" class="validate" name="location">
                        <label for="auth">Location</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 form-group">
                        <input class="auth" id="dateId" type="text" class="validate" name="trip_date">
                        <label for="auth">Start Date</label>
                    </div>
                </div>

                <div class="divider"></div>

                <div class="row">
                    <div class="col s12">
                        <h5>Fish Data</h5>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="row">
                    <div class="input-field col s12 form-group">
                        <input class="auth" type="text" class="fish_name" name="fish_name">
                        <label for="auth">Fish Type</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 form-group">
                        <input class="auth" type="text" class="bait" name="bait">
                        <label for="auth">Bait</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12 form-group">
                        <input class="auth " type="text" class="notes" name="notes">
                        <label for="auth">Notes</label>
                    </div>
                </div>

                <button class="submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
