<div class="row">
    <div class="col s12">
        <h1>Trip Creator</h1>
    </div>
</div>

<div class="divider"></div>
<span><button class="home" action="/home" method="POST">Home</button></span>
<span><button class="trips" action="/trips" method="POST">Trips</button></span>
<div class="divider"></div>
<div class="row">
    <div class="col s12">
        <h5>Trip Details</h5>
    </div>
</div>

<div class="divider"></div>
<div class="row">
    <form class="col s12 create-form" action="/trips" method="POST">
        <div class="row">
            <div class="input-field col s6 form-group">
                <input class="auth" type="text" class="validate" name="trip_name">
                <label for="auth">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 form-group">
                <input class="auth" type="text" class="validate" name="location">
                <label for="auth">Location</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 form-group">
                <input class="auth" type="text" class="validate" name="trip_date">
                <label for="auth">Date</label>
            </div>
        </div>


        <div class="divider"></div>

        <div class="row">
            <div class="col s12">
                <h5>Fish Data</h5>
            </div>
        </div>
        <div class="divider"></div>
        
        <div class="row">
            <div class="input-field col s6 form-group">
                <input class="auth" type="text" class="fish_name" name="fish_name">
                <label for="auth">Fish Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 form-group">
                <input class="auth " type="text" class="notes" name="notes">
                <label for="auth">Notes</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s6 form-group">
                <input class="auth" type="text" class="bait" name="bait">
                <label for="auth">Bait</label>
            </div>
        </div>
		<button type="submit">Submit</button>
    </form>
</div>