<div class="wrapper">
    <div class="row">
        <div class="col s12">
            <span class="center-align">
        <h1 class="homeTitle">Flyfisher</h1>
    </span>
        </div>
    </div>

    <div class="valign-wrapper">
        <div class="row">
            <span class="center-align">
        <button class="waves-effect waves-light btn trips">
            <a href="/trips">Review a Trip</a>
        </button>
    </span></br>
        </div>
    </div>
    <div class="valign-wrapper">
        <div class="row">
            <span class="center-align">
        <button class="waves-effect waves-light btn create">
            <a href="/create">Create a Trip</a>
        </button>
    </span></br>
        </div>
    </div>
</div>